.DS_Store
.env
/node_modules/

# Database
*.db
*.db-journal
*.db-shm
*.db-wal

# React Router
/.react-router/
/build/

# TypeScript
*.tsbuildinfo

# Drizzle
/drizzle/

# Claude Code
.claude/
.vercel
.env*.local
